<html>
    <head>
        <style>
            button {
                background-color: #04AA6D;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                border-radius: 10px;
            }
        </style>
    </head>
    <body>
      <div class="header">
        <h1><a href="https://www.namthplayground.com" style="text-decoration: none; color: black"><p style="text-align: center;">namthplayground</p></a></h1>
        <h2><p style="text-align: center;">StockHelper Admin</p></h2>
      </div>
      <div class="signButtons" style="margin: auto;">
            <button type="button" style="position: fixed; right: 100px;"><a href="https://www.namthplayground.com/stock/admin/subject" style="text-decoration: none; color: white">종목관리</a></button>
        </div>
    </body>
</html>