<html>
    <body>
      <div class="header">
        <h1><a href="https://www.namthplayground.com" style="text-decoration: none; color: black"><p style="text-align: center;">namthplayground</p></a></h1>
        <h2><p style="text-align: center;">StockHelper</p></h2>
      </div>
        <div class="repos">
          <p>GitHub 주소</p>
          <h2>
            <a href="https://github.com/mannamman/newsCrawl" target="_blank">newsCrawlSentiment</a>
            <br/>
            <a href="https://github.com/mannamman/newsCrawl/blob/main/LICENSE" target="_blank">
              <img src="https://www.namthplayground.com/public/img/licensemit.svg"/>
            </a>
          </h2>
          <h2>
            <a href="https://github.com/mannamman/namthplaygroundStockFlask.git" target="_blank">newsCrawlWeb</a>
            <br/>
            <a href="https://github.com/mannamman/namthplaygroundStockFlask.git/blob/main/LICENSE" target="_blank">
              <img src="https://www.namthplayground.com/public/img/licensemit.svg"/>
            </a>
          </h2>
        </div>
        <form action="https://www.namthplayground.com/stock/day" method="post">
          <p id="stock_list"></p>
          <p>뉴스가 작성된 언어</p>
          <select name="source_lang">
            <option value="en">eng</option>
          </select><br>
          <div id="calendar">
            <br>
            <label for="start" style="display: block; font: 1rem">1달이내의 의견</label><br>
            <input type="date" id="start" name="start" value="{{start_date}}" min="{{min_date}}" max="{{max_date}}" style="margin: .4rem 0;"/>
          </div>
          <input type="submit"/>
        </form>
        <script>
          const stock_list_raw = '{{stock_list}}';
          const stock_list_str = stock_list_raw.replace(/&#34;/g,'"');
          const stock_list = JSON.parse(stock_list_str)

          const container = document.getElementById("stock_list")
          const main_header = document.createElement('H2');
          main_header.innerHTML = '주식 리스트';
          container.appendChild(main_header);

          const select_list = document.createElement("select");
          select_list.setAttribute("name", "subject");

          for (let stock of stock_list) {
            const { stock_display, stock_code, stock_name } = stock;
            const option = document.createElement("option");
            option.innerHTML = stock_display;
            // option.setAttribute("value", stock_name)
            option.setAttribute("value", stock_name)
            select_list.appendChild(option);
          }
          container.appendChild(select_list);
        </script>
    </body>
</html>
